<h1>Stocks - Watchlist</h1>

<div ng-controller="StocksCtrl">
  <form ng-submit="createStock()">
    <input type="text" ng-model='newSymbol' placeholder="Enter a symbol">
    <input type="submit" value="Add">
  </form>

  <div ng-show="error">
    There was a problem with the Yahoo Finance API. Please try again later.
  </div>

  <table>
    <thead>
      <tr>
         <th>Symbol</th>
         <th>Name</th>
         <th>Bid</th>
         <th>Ask</th>
         <th>Year Low</th>
         <th>Year High</th>
      </tr>
    </thead>
    <tr ng-repeat="stock in stocks">
      <td>{{stock.symbol}}</td>
      <td>{{stock.name}}</td>
      <td>{{stock.bid}}</td>
      <td>{{stock.ask}}</td>
      <td>{{stock.year_low}}</td>
      <td>{{stock.year_high}}</td>
      <td><a href='' ng-click="deleteStock(stock.id, $index)">Delete</a></td>
  </tr>
  </table
  
</div>